/* Header.css */
.main_header {
    background: linear-gradient(to bottom, #015122 100%) !important;
}

.hover-icon:hover {
  color: #9ec5fe;
  cursor: pointer;
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 260px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.dropdown-item-custom {
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
}

.dropdown-item-custom:hover {
  background-color: #f8f9fa;
}

.search-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1050;
}

.search-input {
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-primary1 {
  color: white !important;
}